<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dollhousemediatech.blackbox</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/blackbox</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/davidfisher/code/audio_recorder</string>
    <key>StandardErrorPath</key>
    <string>~/Library/Logs/BlackBox/error.log</string>
    <key>StandardOutPath</key>
    <string>~/Library/Logs/BlackBox/output.log</string>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>30</integer>
    <key>ExitTimeout</key>
    <integer>5</integer>
    <key>SignalToSendOnStop</key>
    <integer>2</integer>
</dict>
</plist> 